name: red_footed_energy
description: "Red Footed Energy - Smart Meter Dashboard"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  logger: ^2.4.0
  mqtt_client: ^9.6.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
